body {
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

imgview {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 0;
}

button {
  width: 80px;
  height: 80px;
  text-align: center;
  margin-top: 10px;

  background-color: #1e1e1e;
  box-shadow: 0px 0px 6px #000;

  border-width: 0px;

  color: #f0f0e0;

  font-size: 25px;

  transition: 100ms ease-out;
}

button:hover {
  color: #fefeee;
  background-color: #2e2e2e;
}

.active-button {
  color: #2e2e2e !important;
  background-color: #fefeee !important;
}

.context-menu {
  position: absolute;
  background-color: #0a0a0a;
  z-index: 10 !important;
  box-shadow: 0px 0px 16px #000;
  padding: 12px;
}

.hide {
  display: none;
}

.color-picker {
  box-shadow: 0px 0px 10px #000;
}

#sidebarcontainer {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100px;
  height: 100%;
  background-color: #0a0a0a;
  box-shadow: 0px 0px 32px #000;
  z-index: 1;
  color: #f0f0e0;
  padding-top: 0px;
}

